<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Personal collection management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" "/>
    <meta name="keywords" content=""/>
    <meta content="Themesdesign" name="author"/>

    <link rel="shortcut icon" href="../images/favicon.ico">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" id="bootstrap-style"/>

    <!-- Material Icon Css -->
    <link rel="stylesheet" href="../css/materialdesignicons.min.css" type="text/css"/>

    <!-- Unicon Css -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>

    <!-- Swiper Css -->
    <link rel="stylesheet" href="../css/tiny-slider.css" type="text/css"/>

    <!-- Custom Css -->
    <link rel="stylesheet" href="../css/style.min.css" type="text/css"/>

</head>

<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="71"
      th:with="user = ${#authentication.principal}">

<!-- light-dark mode button -->
<a href="javascript: void(0);" id="mode" class="mode-btn text-white rounded-end">
    <i class="uil uil-brightness mode-dark mx-auto"></i>
    <i class="uil uil-moon bx-spin mode-light"></i>
</a>

<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
    <div class="container-fluid custom-container">
        <a class="navbar-brand logo f-30 text-dark fw-bold" href="home.html">
            <img src="../images/logo-dark.png" class="logo-dark" alt="" height="40">
            <img src="../images/logo-light.png" class="logo-light" alt="" height="40">
        </a>
        <div>
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto navbar-center">
                <li class="nav-item">
                    <a href="/home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="home.html" class="nav-link">Marketplace</a>
                </li>
                <li class="nav-item">
                    <a href="collection.html" class="nav-link">Collection</a>
                </li>
                <!--end dropdown-->

                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="pagedropdown" role="button"
                       data-bs-toggle="dropdown">
                        Pages
                    </a>

                    <div class="dropdown-menu dropmenu-width dropdown-menu-center">
                        <div class="row">
                            <ul class="col-lg-6 list-unstyled">
                                <li><a class="dropdown-item" href="activity.html"><i
                                        class="mdi mdi-chart-line f-20 me-2 align-middle"></i>Activity</a></li>

                                <li><a class="dropdown-item" href="item-details.html"><i
                                        class="mdi mdi-image-filter-frames f-20 me-2 align-middle"></i>Item
                                    Details</a></li>
                                <li><a class="dropdown-item" href="post-detail.html"><i
                                        class="mdi mdi-image-filter-center-focus-weak f-20 me-2 align-middle"></i>Post
                                    Details</a></li>
                                <li><a class="dropdown-item" href="newsletter.html"><i
                                        class="mdi mdi-email-open-outline f-20 me-2 align-middle"></i>Newsletter</a>
                                </li>
                                <li><a class="dropdown-item" href="creatore.html"><i
                                        class="mdi mdi-comment-account-outline f-20 me-2 align-middle"></i>Creatore</a>
                                </li>
                                <li><a class="dropdown-item" href="login.html"><i
                                        class="mdi mdi-account-outline f-20 me-2 align-middle"></i>Login</a></li>

                                <li><a class="dropdown-item" href="register.html"><i
                                        class="mdi mdi-account-box-outline f-20 me-2 align-middle"></i>Register</a></li>

                                <li><a class="dropdown-item" href="privacy.html"><i
                                        class="mdi mdi-lock-open-outline f-20 me-2 align-middle"></i>Privacy</a></li>

                            </ul>

                            <ul class="col-lg-6 list-unstyled">
                                <li><a class="dropdown-item" href="wallet.html"><i
                                        class="mdi mdi-wallet-travel f-20 me-2 align-middle"></i>Connect Wallet</a>
                                </li>

                                <li><a class="dropdown-item" href="faq.html"><i
                                        class="mdi mdi-comment-question-outline f-20 me-2 align-middle"></i>Faq</a>
                                </li>
                                <li><a class="dropdown-item" href="submit-request.html"><i
                                        class="mdi mdi-check-circle-outline f-20 me-2 align-middle"></i>submit
                                    Reqeust</a></li>

                                <li><a class="dropdown-item" href="chat.html"><i
                                        class="mdi mdi-message-text-outline f-20 me-2 align-middle"></i>Chat</a>
                                </li>

                                <li><a class="dropdown-item" href="artical.html"><i
                                        class="mdi mdi-comment-account-outline f-20 me-2 align-middle"></i>Artical</a>
                                </li>

                                <li><a class="dropdown-item" href="ranking.html"><i
                                        class="mdi mdi-numeric-1-box-outline f-20 me-2 align-middle"></i>Ranking</a>
                                </li>

                                <li><a class="dropdown-item" href="404.html"><i
                                        class="mdi mdi-alert-outline f-20 me-2 align-middle"></i>404</a></li>

                            </ul>
                        </div>
                    </div>

                </li>
                <!--end dropdown-->


                <li th:unless="${user=='anonymousUser'}" class="nav-item dropdown dropdown-hover">
                    <a class="nav-link dropdown-toggle" href="home.html" id="homedrop" role="button"
                       data-bs-toggle="dropdown">
                        Profile
                    </a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="homedrop">
                        <li><a class="dropdown-item" href="profile.html"><i
                                class="mdi mdi-account-box-outline f-20 me-2 align-middle"></i>Profile</a></li>
                        <li><a class="dropdown-item" href="edit-profile.html"><i
                                class="mdi mdi-account-edit f-20 me-2 align-middle"></i>Edit profile</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="blog.html" class="nav-link">Blog</a>
                </li>
                <!--end dropdown-->

                <li class="nav-item">
                    <a href="contact.html" class="nav-link">Contact</a>
                </li>
                <!--end dropdown-->
            </ul>
            <!--end navbar-nav-->
            <a th:if="${user=='anonymousUser'}" href="/login" class="btn btn-outline-success">Login</a>
            <a th:if="${user=='anonymousUser'}" href="/register" class="btn btn-outline-success">Register</a>
            <a th:unless="${user=='anonymousUser'}" href="/logout" class="btn btn-outline-danger">Log out</a>
        </div>
    </div>
    <!--end container-->
</nav>
<!-- Navbar End -->


<!-- start home -->
<section class="home-2 overflow-hidden" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="home-content-2 home-heading text-start">
                    <h1 class="fw-bold"> Enjoy Your <span class="text-primary"> Live </span> Auction With NFT</h1>
                    <form class="search-form">
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control position-relative" id="inputPassword"
                                       placeholder="Search here...">
                                <div class="search-icon">
                                    <i class="mdi mdi-magnify f-22"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="heading float-start mt-3">
                        <h2 class="fw-bold">Latest items</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3" th:each="item: ${latestItems}">
                <div class="clientslider-2 mt-5 position-relative" id="clientslider-2">
                    <div class="item">
                        <div class="card">
                            <div class="header d-flex">
                                <div class="dropdown menu">
                                    <i class="mdi mdi-dots-vertical f-20" id="dropdownMenuButton1"
                                       data-bs-toggle="dropdown"></i>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="home.html#">Action</a></li>
                                        <li><a class="dropdown-item" href="home.html#">Another action</a></li>
                                        <li><a class="dropdown-item" href="home.html#">Something else here</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <div class="ms-auto" th:each="itemCollections: ${item.itemCollections}">
                                        <div class="badge rounded-pill" th:text="${itemCollections.title}"></div>
                                    </div>
                                </div>
                            </div>
                            <!--                            <div class="card-image mt-3">-->
                            <!--                                <img src="images/slider-blog/1.png" alt="" class="img-fluid">-->
                            <!--                            </div>-->
                            <div class="card-body">
                                <div class="collection-like-icon ms-auto">
                                    <h6 class="fw-bold mb-0" th:text="${item.itemName}"></h6>
                                    <p class="fw-semibold mb-0"><a href="index-2.html"><i class="mdi mdi-heart"></i></a>
                                        [[${item.itemLikes}]]
                                    </p>
                                </div>
                                <div class="profile-content align-items-center d-flex justify-content-start">
                                    <div class="avatar-sm">
                                        <img src="images/slider/user/img-1.jpg" alt="" class="img-fluid avatar-sm">
                                    </div>
                                    <div class="profile-name">
                                        <h6 class="fw-bold mb-0 ms-2 f-14" th:text="${item.authorName}"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                </div>
                <!-- End slider -->
            </div>
        </div>
    </div>
</section>
<!-- end home -->


<!-- start explore -->
<section class="explore section bg-light px-4" id="explore">
    <!-- start container -->
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-12 p-0">
                <nav class="mt-5">
                    <div class="heading float-start mt-3">
                        <h2 class="fw-bold">Top largest collections:</h2>
                    </div>
                </nav>
            </div>
            <div class="tab-content mt-5 pt-4" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                    <div class="row">
                        <div class="col-lg-3 mt-4" th:each="collection: ${largestCollections}">
                            <div class="tab-content p-4 border-0">
                                <div class="header d-flex align-items-center justify-content-start">
                                    <div class="avatar-xs">
                                        <img src="images/slider/user/img-1.jpg" alt=""
                                             class="img-fluid rounded-circle">
                                    </div>
                                    <h6 class="mb-0 ms-2 fw-semibold text-muted f-14"
                                        th:text="${collection.collectionAuthorName}"></h6>
                                </div>
                                <div class="card-image mt-3">
                                    <img th:src="${collection.collectionImgUrl}" alt="" class="img-fluid">
                                </div>
                                <div class="body-content mt-3">
                                    <h6 class="fw-bold" th:text="${collection.collectionTitle}"></h6>
                                    <div class="d-flex">
                                        <p class="text-muted">6 in stock</p>
                                        <p class="ms-auto text-muted">Topic : <span class="text-success">
                                            [[${collection.collectionTopic}]]
                                        </span></p>
                                    </div>
                                    <hr>
                                    <div class="d-flex mt-3 align-items-center">
                                        <div class="history">
                                            <i class="mdi mdi-restart f-20 align-middle"></i>View History
                                        </div>
                                        <div class="bid-button ms-auto">
                                            <button class="btn btn-sm btn-primary rounded-pill">Bid</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <button class="btn btn-white text-dark shadow"><i
                                            class="mdi mdi-restart f-18 align-middle"></i> View All Collections
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- end explore -->
<!--Bootstrap Js-->
<script src="../js/bootstrap.bundle.min.js"></script>

<!-- Swiper Js -->
<script src="../js/tiny-slider.js"></script>

<!-- counter -->
<script src="../js/counter.init.js"></script>

<!-- App Js -->
<script src="../js/app.js"></script>

<!--<script>-->

<!--    //team-slider-->
<!--    var slider = tns({-->
<!--        container: '.team-slider',-->
<!--        loop: true,-->
<!--        autoplay: true,-->
<!--        mouseDrag: true,-->
<!--        controls: true,-->
<!--        navPosition: "bottom",-->
<!--        nav: false,-->
<!--        autoplayTimeout: 4000,-->
<!--        speed: 900,-->
<!--        gutter: 40,-->
<!--        center: true,-->
<!--        animateIn: "fadeIn",-->
<!--        animateOut: "fadeOut",-->
<!--        controlsText: ['&#8592;', '&#8594;'],-->
<!--        autoplayButtonOutput: false,-->
<!--        responsive: {-->

<!--            992: {-->
<!--                gutter: 40,-->
<!--                items: 6-->
<!--            },-->

<!--        }-->
<!--    });-->
<!--</script>-->


<!--<script>-->
<!--    var slider = tns({-->
<!--        container: '.clientslider-2',-->
<!--        loop: true,-->
<!--        autoplay: true,-->
<!--        mouseDrag: true,-->
<!--        controls: false,-->
<!--        navPosition: "bottom",-->
<!--        nav: false,-->
<!--        autoplayTimeout: 4000,-->
<!--        speed: 900,-->
<!--        gutter: 50,-->
<!--        animateIn: "fadeIn",-->
<!--        animateOut: "fadeOut",-->
<!--        controlsText: ['&#8592;', '&#8594;'],-->
<!--        autoplayButtonOutput: false,-->
<!--        responsive: {-->

<!--            992: {-->
<!--                gutter: 50,-->
<!--                items: 4-->
<!--            },-->

<!--        }-->
<!--    });-->

<!--</script>-->

</body>

</html>