<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Personal collection management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" "/>
    <meta name="keywords" content=""/>
    <meta content="Themesdesign" name="author"/>

    <link rel="shortcut icon" href="../images/favicon.ico">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" id="bootstrap-style"/>

    <!-- Material Icon Css -->
    <link rel="stylesheet" href="../css/materialdesignicons.min.css" type="text/css"/>

    <!-- Unicon Css -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>

    <!-- Swiper Css -->
    <link rel="stylesheet" href="../css/tiny-slider.css" type="text/css"/>

    <!-- Custom Css -->
    <link rel="stylesheet" href="../css/style.min.css" type="text/css"/>
    <style>
        a {
            color: inherit;
        }
    </style>

</head>

<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="71"
      th:with="user = ${#authentication.principal}">

<!-- light-dark mode button -->
<a href="javascript: void(0);" id="mode" class="mode-btn text-white rounded-end">
    <i class="uil uil-brightness mode-dark mx-auto"></i>
    <i class="uil uil-moon bx-spin mode-light"></i>
</a>

<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
    <div class="container-fluid custom-container">
        <a class="navbar-brand logo f-30 text-dark fw-bold" href="home-page.html">
            <img src="../images/logo-dark.png" class="logo-dark" alt="" height="40">
            <img src="../images/logo-light.png" class="logo-light" alt="" height="40">
        </a>
        <div>
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto navbar-center">
                <li class="nav-item">
                    <a th:href="@{/home}" class="nav-link">[[#{home}]]</a>
                </li>

                <li th:unless="${user=='anonymousUser'}" class="nav-item dropdown dropdown-hover">
                    <a class="nav-link dropdown-toggle" href="home-page.html" id="homedrop" role="button"
                       data-bs-toggle="dropdown">
                        [[#{profile}]]
                    </a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="homedrop">
                        <li><a class="dropdown-item" th:href="@{/user/my-collections}"><i
                                class="mdi mdi-account-box-outline f-20 me-2 align-middle"></i>[[#{profile}]]</a></li>
                        <li><a class="dropdown-item" th:href="@{/user/edit-profile}"><i
                                class="mdi mdi-account-edit f-20 me-2 align-middle"></i>[[#{edit-profile}]]</a></li>
                    </ul>
                </li>

                <li class="nav-item"
                    th:if="${user!='anonymousUser'} and ${#strings.equals(user.role.roleName,'ROLE_ADMIN')} ">
                    <a th:href="@{/user/management}" class="nav-link">
                        [[#{user-management}]]
                    </a>
                </li>
                <!--end dropdown-->
            </ul>
            <label for="locales" th:text="#{lang-change}"></label>
            <select id="locales">
                <option value=""></option>
                <option value="en" class="flag-icon flag-icon-us"
                        th:text="#{lang-eng}">
                </option>
                <option value="uz"
                        th:text="#{lang-uz}"></option>
            </select>
            <a th:if="${user=='anonymousUser'}" th:href="@{/login}" class="btn btn-outline-success">[[#{login}]]</a>
            <a th:if="${user=='anonymousUser'}" th:href="@{/register}"
               class="btn btn-outline-success">[[#{register}]]</a>
            <a th:unless="${user=='anonymousUser'}" href="/logout" class="btn btn-outline-danger">[[#{logout}]]</a>
        </div>
    </div>
    <!--end container-->
</nav>
<!-- Navbar End -->


<!-- start home -->
<section class="home-2 overflow-hidden" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="home-content-2 home-heading text-start">
                    <h1 class="fw-bold">[[#{home-page-title}]]</h1>
                    <form class="search-form">
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control position-relative" id="inputPassword"
                                       th:placeholder="#{search}">
                                <div class="search-icon">
                                    <i class="mdi mdi-magnify f-22"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="heading float-start mt-3">
                        <h2 class="fw-bold">[[#{latest-items}]]</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3" th:each="item: ${latestItems}">
                <div class="clientslider-2 mt-5 position-relative" id="clientslider-2">
                    <div class="item">
                        <div class="card">
                            <div class="header d-flex">
                                <div>
                                    <div class="ms-auto">
                                        <div class="badge rounded-pill" th:text="${item.itemCollectionTitle}"></div>
                                    </div>
                                </div>
                            </div>
                            <!--                            <div class="card-image mt-3">-->
                            <!--                                <img src="images/slider-blog/1.png" alt="" class="img-fluid">-->
                            <!--                            </div>-->
                            <div class="card-body">
                                <div class="collection-like-icon ms-auto">
                                    <h6 class="fw-bold mb-0">
                                        <a th:href="@{'/item?itemId='+${item.id}}">
                                            [[${item.itemName}]]
                                        </a>
                                    </h6>
                                    <div class="like">
                                        <h6 class="f-14 fw-semibold">
                                            <!--                                            <a th:href="@{'/item/like?itemId='+${item.id}}">-->
                                            <i th:class="${item.isLiked!=null and item.isLiked}?
                                            'mdi mdi-heart text-danger f-18 align-middle me-2':
                                                'mdi mdi-heart-outline text-danger f-18 align-middle me-2'">
                                            </i>
                                            <!--                                            </a>-->
                                            [[${item.itemLikes}]]
                                        </h6>

                                    </div>
                                </div>
                                <div class="profile-content align-items-center d-flex justify-content-start">
                                    <div class="avatar-sm">
                                        <img th:src="${item.authorProfileImgUrl}" alt="" class="img-fluid avatar-sm">
                                    </div>
                                    <div class="profile-name">
                                        <h6 class="fw-bold mb-0 ms-2 f-14" th:text="${item.authorName}"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                </div>
                <!-- End slider -->
            </div>
        </div>
        <div class="mt-5">
            <div class="col-lg-12">
                <div class="text-center">
                    <a th:href="@{'/item/all'}" class="btn btn-white text-dark shadow"><i
                            class="mdi mdi-restart f-18 align-middle"></i> [[#{view-all-items}]]
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->


<!-- start explore -->
<section class="explore section bg-light px-4" id="explore">
    <!-- start container -->
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-12 p-0">
                <nav class="mt-5">
                    <div class="heading float-start mt-3">
                        <h2 class="fw-bold">[[#{largest-collections}]]</h2>
                    </div>
                </nav>
            </div>
            <div class="tab-content mt-5 pt-4" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                    <div class="row">
                        <div class="col-lg-3 mt-4" th:each="collection: ${largestCollections}">
                            <div class="tab-content p-4 border-0">
                                <div class="header d-flex align-items-center justify-content-start">
                                    <div class="avatar-xs">
                                        <img th:src="${collection.authorProfileImgUrl}" alt=""
                                             class="img-fluid rounded-circle">
                                    </div>
                                    <h6 class="mb-0 ms-2 fw-semibold text-muted f-14"
                                        th:text="${collection.authorName}"></h6>
                                </div>
                                <div class="card-image mt-3">
                                    <img th:src="${collection.imgUrl}" alt="" class="img-fluid">
                                </div>
                                <div class="body-content mt-3">
                                    <h6 class="fw-bold">
                                        <a th:href="@{'/collection/id/'+${collection.id}}">
                                            [[${collection.title}]]
                                        </a>
                                    </h6>
                                    <div class="d-flex">
                                        <!--                                        <p class="text-muted">6 in stock</p>-->
                                        <p class="ms-auto text-muted">[[#{topic}]] : <span class="text-success">
                                            [[${collection.topic}]]
                                        </span></p>
                                    </div>
                                    <hr>
                                    <div class="d-flex mt-3 align-items-center">
                                        <div class="bid-button ms-auto">
                                            <a class="btn btn-sm btn-primary rounded-pill"
                                               th:href="@{'/collection/id/'+${collection.id}}">
                                                [[#{view}]]
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <div class="col-lg-12">
                                <div class="text-center ali">
                                    <a th:href="@{/collection/all}" class="btn btn-white text-dark shadow"><i
                                            class="mdi mdi-restart f-18 align-middle"></i> [[#{view-all-collections}]]
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<section class="explore section bg-light px-4">
    <!-- start container -->
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-12 p-0">
                <nav class="mt-5">
                    <div class="heading float-start mt-3">
                        <h2 class="fw-bold">[[#{popular-tags}]]</h2>
                    </div>
                </nav>
            </div>
            <div class="categorie-box Popular-tag">
                <div class="d-linline">
                    <a th:each="tag: ${tags}" th:href="@{'/item/tag?tagId='+${tag.id}}"
                       class="badge rounded-pill shadow-sm text-blue py-2 px-3 f-18 fw-normal">
                        #[[${tag.name}]]
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="loginModal"></div>
<!-- App Js -->
<script src="../js/app.js"></script>
<!-- end explore -->
<!--Bootstrap Js-->
<script src="../js/bootstrap.bundle.min.js"></script>
<!-- counter -->
<script src="../js/counter.init.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('/home?lang=' + selectedOption);
            }
        });
    });
</script>
</body>

</html>