<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Personal collection management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" "/>
    <meta name="keywords" content=""/>
    <meta content="Themesdesign" name="author"/>

    <link rel="shortcut icon" href="../images/favicon.ic    o">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" id="bootstrap-style"/>

    <!-- Material Icon Css -->
    <link rel="stylesheet" href="../css/materialdesignicons.min.css" type="text/css"/>

    <!-- Unicon Css -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>

    <!-- Swiper Css -->
    <link rel="stylesheet" href="../css/tiny-slider.css" type="text/css"/>

    <!-- Custom Css -->
    <link rel="stylesheet" href="../css/style.min.css" type="text/css"/>

    <style>
        a {
            color: inherit;
        }
    </style>

</head>

<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="71"
      th:with="user = ${#authentication.principal}">

<!-- light-dark mode button -->
<a href="javascript: void(0);" id="mode" class="mode-btn text-white rounded-end">
    <i class="uil uil-brightness mode-dark mx-auto"></i>
    <i class="uil uil-moon bx-spin mode-light"></i>
</a>

<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
    <div class="container-fluid custom-container">
        <a class="navbar-brand logo f-30 text-dark fw-bold" href="home-page.html">
            <img src="../images/logo-dark.png" class="logo-dark" alt="" height="40">
            <img src="../images/logo-light.png" class="logo-light" alt="" height="40">
        </a>
        <div>
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto navbar-center">
                <li class="nav-item">
                    <a href="/home" class="nav-link">[[#{home}]]</a>
                </li>

                <li th:unless="${user=='anonymousUser'}" class="nav-item dropdown dropdown-hover">
                    <a class="nav-link dropdown-toggle" href="home-page.html" id="homedrop" role="button"
                       data-bs-toggle="dropdown">
                        [[#{profile}]]
                    </a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="homedrop">
                        <li><a class="dropdown-item" th:href="@{/user/my-collections}"><i
                                class="mdi mdi-account-box-outline f-20 me-2 align-middle"></i>[[#{profile}]]</a></li>
                        <li><a class="dropdown-item" th:href="@{/user/edit}"><i
                                class="mdi mdi-account-edit f-20 me-2 align-middle"></i>[[#{edit-profile}]]</a></li>
                    </ul>
                </li>

                <li class="nav-item"
                    th:if="${user!='anonymousUser'} and ${#strings.equals(user.role.roleName,'ROLE_ADMIN')} ">
                    <a th:href="@{/user/management}" class="nav-link">
                        [[#{user-management}]]
                    </a>
                </li>
                <!--end dropdown-->
            </ul>
            <!--end navbar-nav-->
            <a th:if="${user=='anonymousUser'}" th:href="@{/login}" class="btn btn-outline-success">[[#{login}]]</a>
            <a th:if="${user=='anonymousUser'}" th:href="@{/register}" class="btn btn-outline-success">[[#{register}]]</a>
            <a th:unless="${user=='anonymousUser'}" href="/logout" class="btn btn-outline-danger">[[#{logout}]]</a>
        </div>
    </div>
    <!--end container-->
</nav>
<!-- Navbar End -->


<!-- start home -->
<section class="home-2 overflow-hidden" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="home-content-2 home-heading text-start">
                    <h1 class="fw-bold" th:if="${pageTitle=='Related'}">[[#{related-items}]]
                        <span class="text-primary"> [[#{items}]]</span></h1>
                    <h1 class="fw-bold" th:if="${pageTitle=='All'}">[[#{all-items}]]
                        <span class="text-primary"> [[#{items}]]</span></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" th:each="item: ${items}">
                <div class="clientslider-2 mt-5 position-relative" id="clientslider-2">
                    <div class="item">
                        <div class="card">
                            <div class="header d-flex">
                                <div>
                                    <div class="ms-auto">
                                        <div class="badge rounded-pill" th:text="${item.itemCollectionTitle}"></div>
                                    </div>
                                </div>
                            </div>
                            <!--                            <div class="card-image mt-3">-->
                            <!--                                <img src="images/slider-blog/1.png" alt="" class="img-fluid">-->
                            <!--                            </div>-->
                            <div class="card-body">
                                <div class="collection-like-icon ms-auto">
                                    <h6 class="fw-bold mb-0">
                                        <a th:href="@{'/item?id='+${item.id}}">
                                            [[${item.itemName}]]
                                        </a>
                                    </h6>
                                    <div class="like">
                                        <h6 class="f-14 fw-semibold">
                                            <i th:class="${item.isLiked!=null and item.isLiked}?
                                            'mdi mdi-heart text-danger f-18 align-middle me-2':
                                                'mdi mdi-heart-outline text-danger f-18 align-middle me-2'"></i>[[${item.itemLikes}]]
                                        </h6>
                                    </div>
                                </div>
                                <div class="profile-content align-items-center d-flex justify-content-start">
                                    <div class="avatar-sm">
                                        <img th:src="${item.authorProfileImgUrl}" alt="" class="img-fluid avatar-sm">
                                    </div>
                                    <div class="profile-name">
                                        <h6 class="fw-bold mb-0 ms-2 f-14" th:text="${item.authorName}"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                </div>
                <!-- End slider -->
            </div>
        </div>
    </div>
</section>
<!--pagination-->
<nav aria-label="Page navigation example" th:if="${pageTitle=='All'}">
    <ul class="nav-link pagination justify-content-center">
        <li class="nav-item disabled" th:if="${currentPage>1}">
            <a class="nav-link"
               th:href="@{'/item/all?page='+${currentPage - 1}}" tabindex="-1" aria-disabled="true">
                [[#{previous}]]
            </a>
        </li>
        <li th:if="${totalPages>1}" class="nav-item" th:each="i: ${#numbers.sequence(1,totalPages)}">
            <a class="nav-link" th:if="${currentPage!=i}"
               th:href="@{'/item/all?page='+${i}}">
                [[${i}]]
            </a>
            <a class="nav-link" th:unless="${currentPage!=i}">
                [[${i}]]
            </a>
        </li>
        <li class="nav-item" th:if="${currentPage<totalPages}">
            <a class="nav-link"
               th:href="@{'/item/all?page='+${currentPage+1}}">
                [[#{next}]]
            </a>
        </li>
    </ul>
</nav>
<nav aria-label="Page navigation example" th:if="${pageTitle=='Related'}">
    <ul class="nav-link pagination justify-content-center">
        <li class="nav-item" th:if="${currentPage>1}">
            <a class="nav-link"
               th:href="@{'/item/tag?tagId='+${tagId}+'&page='+${currentPage - 1}}" tabindex="-1" aria-disabled="true">
                [[#{previous}]]
            </a>
        </li>
        <li th:if="${totalPages>1}" class="nav-item" th:each="i: ${#numbers.sequence(1,totalPages)}">
            <a class="nav-link" th:if="${currentPage!=i}"
               th:href="@{'/item/tag?tagId='+${tagId}+'&page='+${i}}">
                [[${i}]]
            </a>
            <a class="nav-link disable" th:unless="${currentPage!=i}">
                [[${i}]]
            </a>
        </li>
        <li class="nav-item" th:if="${currentPage<totalPages}">
            <a class="nav-link"
               th:href="@{'/item/tag?tagId='+${tagId}+'&page='+${currentPage+1}}">
                [[#{next}]]
            </a>
        </li>
    </ul>
</nav>

<!--Bootstrap Js-->
<script src="../js/bootstrap.bundle.min.js"></script>

<!-- counter -->
<script src="../js/counter.init.js"></script>

<!-- App Js -->
<script src="../js/app.js"></script>
</body>

</html>